<h1>Our Restaurants</h1>

<%= link_to new_restaurant_path, id:"next" do %>
  <i class="fas fa-plus"></i> Add a new Restaurant
<% end %>

<div class='row justify-content-center mt-5'>

      <% @restaurants.each do |restaurant|  %>
      <div class='col-3 card'>
        <%= link_to restaurant.name, restaurant_path(restaurant)%>
      </div>
      <% end %>
</div>
